[2018-04-06 13:00] bryantAXS opened #2 "Calling unknown method: nystudio107\instantanalytics\InstantAnalytics::iaSendPageView()"
After a Craft 3 and Commerce 2 migration.

When I comment out

[code]

in the templates, the error goes away.

[code]

[2018-05-30 11:55] pauljohnston opened #3 "Commerce integration"
Hi Andrew,

Any updates on Commerce integration?

[2018-08-24 21:06] khalwat commented on #2
Sorry, I don't know how I missed this issue. This should be fixed now yes?

[2018-08-24 21:07] khalwat commented on #3
So I just pushed an update that cleans up the code, and preps it for Commerce.

My plan is to ship Retour, and then circle back to add Commerce integration in Instant Analytics.

I should have it done before Commerce is officially released!

[2018-08-25 00:26] khalwat commented on #2
Fixed in https://github.com/nystudio107/craft-instantanalytics/commit/0b4ab18e40ce3fc5d667e84eaa053c08c15cb370

This fix is rolled into Instant Analytics 1.0.8

[2018-08-25 00:26] #2 closed, assigned to nobody

[2018-09-27 20:06] andrewcgregory commented on #3
Looking for commerce 2 integration as well. I'll be keeping an eye out for updates!

[2018-09-28 07:04] pauljohnston commented on #3
@andrewcgregory We ended up using https://github.com/nystudio107/craft-seomatic as it does everything we needed for analytics plus more.

[2018-10-04 21:36] khalwat commented on #3
Keep in mind that SEOmatic doesn't actually send any Commerce analytics on its own; it'll add the appropriate scripts to your pages, but it's up to you to then send the analytics data as appropriate.

[2018-11-17 00:55] khalwat commented on #3
Looks like this will be closed next week! :)

[2018-11-18 15:38] khalwat commented on #3
If you set your version to `dev-develop` you'll be able to play around with it now!

[2018-11-19 20:24] khalwat commented on #3
Craft Commerce 2 support added in Instant Analytics 1.1.0 https://github.com/nystudio107/craft-instantanalytics/releases/tag/1.1.0

@pauljohnston @andrewcgregory

[2018-11-19 20:24] #3 closed, assigned to nobody

[2019-01-29 13:14] boboldehampsink opened #5 "Error when adding a product to cart"
I'm using this for the Commerce integration and I'm seeing this error when adding a product to cart:

[code]

[2019-01-29 13:36] boboldehampsink opened #6 "Error when navigating to settings page"
When going to `/admin/settings/plugins/instant-analytics` I see the following error:

[code]

I'm using Craft 3.1 with Project Config

[2019-02-08 19:09] khalwat commented on #5
Not sure how a string could end up being passed in there, but will have a look

[2019-02-08 19:27] khalwat commented on #6
Fixed in https://github.com/nystudio107/craft-instantanalytics/commit/905f5c11970719f7ba040bd5fbe14ef25a0b3711

[2019-02-08 19:27] #6 closed, assigned to khalwat

[2019-03-05 12:29] peteeveleigh commented on #6
This still seems to be present in a newly installed v1.1.0
The fix isn't in there.

[2019-03-05 15:18] fantasticmachine commented on #5
I have found the cause of the problem, at least in my case.
I had the "Commerce Product Category Field" setting set to a category field type which allowed for multiple category selections. Switching that to use a category field limited to a single category works OK. So my guess is that the plugin is choking when given an array/object containing multiple category relationships.

[2019-03-05 15:22] peteeveleigh opened #7 "Add to cart error when "Commerce Product Category Field" points at field with multiple categories"
I get the following response error when trying to add to the cart
{"error":"Getting unknown property: craft\\commerce\\elements\\Product::product"}

Have tracked this down to the "Commerce Product Category Field" or "Commerce Product Brand Field" settings to reference a field containing multiple category relationships.

Setting these fields to reference a category field which only allows a single

[2019-03-05 15:23] peteeveleigh commented on #5
Scrubbed my comments here and raised a new issue as I'm now thinking it's unrelated.

[2019-03-07 00:53] khalwat commented on #7
Ah this makes sense, thanks for the report.

[2019-03-07 00:54] khalwat commented on #6
A release hasn't been cut yet, but it will be in the next release.

[2019-03-08 10:53] peteeveleigh commented on #7
Found another related issue.
We have a use case where some of our product types don't have the field that we are using for the "Commerce Product Category Field" or "Commerce Property Brand Field".
In this event, the plugin throws an error preventing these items being added to the cart.

Might be a bit of an edge case and the simple workaround is for us to add the field to the product type but woul

[2019-03-13 19:26] khalwat commented on #7
Can you give me a stack trace for these issues @fantasticmachine ? I'm working on a fix, and it'd be helpful.

[2019-03-13 20:28] khalwat commented on #5
Fixed in https://github.com/nystudio107/craft-instantanalytics/commit/5cdcfafba7d0e63b7ed6e90ac814e711eddfbf01

[2019-03-13 20:28] #5 closed, assigned to khalwat

[2019-03-13 21:34] peteeveleigh commented on #7
Sure. I'll give you a few traces with different circumstances.

This one is what I get if a product doesn't have one of the chosen fields in its layout. For instance, we are using a field named "Range" for the Product Commerce Category Field. But we have a product type which didn't have that Range field.
To that end, as a feature request, it would be really useful to be able to set different field

[2019-03-13 21:48] peteeveleigh commented on #7
If one of the fields set for either Commerce Category or Brand is a Plain Text type field (rather than a category field type) then I see the following error when trying to add the product to the cart.

`{"error":"Getting unknown property: craft\\commerce\\elements\\Product::product"}`

Sorry, it's not a trace. Just an error in the console as we're adding to the cart via Ajax.

[2019-03-13 21:53] peteeveleigh commented on #7
I also noticed that in some circumstances an option of "none" appears in the select controls for choosing the Commerce Category and Brand fields. However it disappeared when I changed something about the field types/setup. I'm having trouble replicating that now but will keep trying.

[2019-03-28 03:40] bossanova808 commented on #7
I am just digging into this now Andrew...can I throw in here:

For product categories, I use a categories field.  Some products appear in multiple categories.  Unfortunately Craft doesn't let you order those categories, so it can't necessarily be assumed the first is the 'primary' category as such.

For brands, I use an entries filed (not currently selectable at all).

In some cases, certain types

[2019-03-28 06:12] bossanova808 opened #8 "[FR] Use order reference instead of number"
https://github.com/nystudio107/craft-instantanalytics/blob/319b109a180e5b4986986bcfb69bc68ef3837bf1/src/services/Commerce.php#L51

Given Commerce now has nice, friendly order reference numbers and not just UIDs for identification (and UIDs are used as a fallback for the reference if there is no reference set by the shop owner...so order->reference will always contain the preferred data) ... it see

[2019-03-29 00:42] bossanova808 commented on #7
Ok, thinking on this more obernight...I think both Product Category and Brand should be Twig mini templates things.

The current category stuff that gets to Google is pretty unattractive and hard for business folks to parse (mentally, or in code...)

![image](https://user-images.githubusercontent.com/731309/55201399-ee2a0480-5216-11e9-96fc-971d714fc4de.png)

What the business folks want there is r

[2019-03-29 02:03] bossanova808 opened #11 "Should probably not double up on name here?"
https://github.com/nystudio107/craft-instantanalytics/blob/319b109a180e5b4986986bcfb69bc68ef3837bf1/src/services/Commerce.php#L308

This doesn't make much sense to me - and results in oddness in the logs:
[code]
Why repeat the name?  I am thinking you in fact wanted to perhaps log the variant title here instead (if there is one?)

[2019-04-23 03:54] bossanova808 opened #12 "Issues with install"
Ok, so my general process is to upgrade a db from Craft 2 -> 3 and the in my own little custom console controller I have:

`
Craft::$app->plugins->installPlugin('instant-analytics');
`
...this does not raise an error.  But it also (unlike with several other plugins I do this with) - does not results in the plugin being installed.

So I have to go into the control panel and manually install it ther

[2019-04-26 12:20] MarcelWeidum opened #13 "Getting unknown property: craft\commerce\elements\Product::product"
`2019-04-26 14:17:57 [-][1][526v3r8o62189l63qvmqq5lp16][error][yii\base\UnknownPropertyException] yii\base\UnknownPropertyException: Getting unknown property: craft\commerce\elements\Product::product in /data/home/site/public_html/vendor/yiisoft/yii2/base/Component.php:154
Stack trace:
#0 /data/home/site/public_html/vendor/craftcms/cms/src/base/Element.php(830): yii\base\Component->__get('product'

[2019-05-17 15:55] chadcrowell commented on #8
+1 for order.reference

[2019-05-17 15:57] chadcrowell opened #14 "[FR] Allow global for Commerce Product Brand Field"
Idk about anyone else, but every product in my clients' stores have 1 brand name, and it is not stored as a category. Is it possibly to either allow selection of a global or a plain text field to put the brand name in IA? https://d.pr/i/YinkvC

[2019-05-17 16:40] chadcrowell commented on #5
I'm getting this same error.
Craft CMS 3.1.26
Instant Analytics 1.1.0

https://gist.github.com/chadcrowell/0e40dbe59a871a437782bd3b5693d80d

[2019-05-24 18:20] chadcrowell commented on #14
Or a config or env variable?

[2019-05-24 19:27] chadcrowell opened #15 "get_class() expects parameter 1 to be object, null given"
On local and dev sites that have devMode on, I am getting this on any template with a product shown on it. Not cart or checkout.

[code]

[2019-06-03 18:47] chadcrowell commented on #15
Now seeing a similar error on the production site, 3 lines away from the error reported above. This is the log result when certain products are added to cart. The webpage shows internal server error and this is the log result:

[code]

[2019-06-07 16:46] chadcrowell commented on #15
Hi Andrew, continuing to try to solve this issue. Again, this is happening only for products in a single product type. Other products with other product types are working. Products in this product type used to work.

This is the code in the commerce service that is having the issue. Here is the code:

[code]

I print_r'd areas of this, and verified that $productVariant and $fieldHandle are set cor

[2019-06-07 16:53] chadcrowell commented on #15
Further testing, it doesn't appear to be product type specific. I created a new product type and moved a faulty product to it, but that didn't change anything. Same error. I guess I'll disable IA for now.

[2019-07-10 23:59] chadcrowell commented on #15
And here we go again... completely different site, same error on same area of the site. Can I please get some support on this? Its now keeping me from using IA, which I have paid for on 2 different sites, on both sites. Please help.

[2019-07-12 21:18] chadcrowell commented on #15
So this comes down to the brand field. it really makes no sense that the brand field is something in the IA settings that has to be assigned to products and then chosen for every single product. As I requested in [this other open request](https://github.com/nystudio107/craft-instantanalytics/issues/14), the brand setting should be able to be set to a global or a static text that applies to all pro

[2019-07-24 05:11] bossanova808 commented on #7
Any thoughts on this?  I'd really like to add brand data, but can't really do it currently without manually sending events.

Twig parsing for these would be very flexible I think?  And is in line with how Commerce itself tends to do these things.

[2019-08-07 15:12] arifje opened #16 "Fresh installation gives an TypeError"
Installed via CLI, activated, clicking settings, gives:

![Screenshot 2019-08-07 at 17 07 39](https://user-images.githubusercontent.com/1286410/62634575-6f687500-b936-11e9-88db-30cf99ed346f.jpg)

Craft CMS 3.2.7

[2019-08-23 10:40] mcjackson18 commented on #15
I'm also getting this same error (using version 1.1.0). I noticed this has been fixed in 1.1.1 but this version isn't available on packagist. Please can you give an ETA on when 1.1.1 will be available to download so we can update the plugin - thanks.

[2019-09-08 23:35] mylesthedev commented on #16
This happens when you don't have any fields in any of your product types.

@khalwat I think a lot of us install all plugins before adding content etc so maybe a simple check for fields would solve this particular case.

[2019-09-27 15:56] khalwat commented on #15
fixed in 1.1.1 -> https://github.com/nystudio107/craft-instantanalytics/releases/tag/1.1.1

[2019-09-27 15:56] #15 closed, assigned to nobody

[2019-09-27 15:57] khalwat commented on #13
fixed in 1.1.1 -> https://github.com/nystudio107/craft-instantanalytics/releases/tag/1.1.1

[2019-09-27 15:57] #13 closed, assigned to nobody

[2019-09-27 16:00] khalwat commented on #7
Sounds like this would be a pretty flexible way to do it

[2019-10-21 03:37] joelzerner opened #17 "Settings screen appearing blank"
Installed on Craft CMS 3.3.11 and license entered and validated.

The Instant Analytics settings page is showing up with the Craft CMS frame but the content section is completely blank. I've pasted the code for the content section below.

[code]

I've tried in two different environments and getting the same issue. Any help is appreciated.

[2019-10-24 07:24] wuhhh commented on #17
I'm also seeing a blank settings page. Craft 3.3.12, Instant Analytics 1.1.1 (Trial)

[2019-10-24 10:22] ragnarfrosti commented on #17
The problem is in the settings template in the plugin (vendor/nystudio107/craft-instantanalytics/src/templates/settings.twig).

[code]

Where the statement **{% if craft.imageOptimize.craft31 %}** fails.

Temporarily replace the code-snippet above with the code below to make it work until an official fix is released.

[code]

[2019-10-24 12:05] republic-se commented on #17
... or you could change the if-statement to **{% if craft.instantAnalytics.craft31 %}** which probably is how it should have been from the beginning :)

[2019-10-24 12:06] ragnarfrosti commented on #17
... or you could change the if-statement to `{% if craft.instantAnalytics.craft31 %}` which probably is how it should have been from the beginning :)

[2019-10-26 02:54] hahnzilla opened #18 "[FR] Ability to Opt Out of setcookie"
I noticed that a `_ia` cookie was being set on each request even though we were opting out of `autoSendPageView`. This can cause issues with cloudflare cdn page caching (which is how I found it :)). I tracked it down to this definition, but I wasn't sure what the best way to go about opting out of it was so I figured I'd start a conversation.

It'd be sweet if there were just a "noGlobals" config

[2019-11-01 11:05] khalwat commented on #17
Fixed in https://github.com/nystudio107/craft-instantanalytics/releases/tag/1.1.2

[2019-11-01 11:05] #17 closed, assigned to nobody

[2019-11-01 11:05] khalwat commented on #16
Fixed in https://github.com/nystudio107/craft-instantanalytics/releases/tag/1.1.2

[2019-11-01 11:05] #16 closed, assigned to nobody

[2019-11-01 11:05] khalwat commented on #18
hmmm yeah this should be doable

[2019-11-18 16:21] knynkwl opened #20 "instantanalytics url not redirecting to asset url."
On our production site, the url isn't redirecting to the asset url, it's just giving a blank white screen. It's working on our local env.

[2019-11-18 16:23] knynkwl commented on #20
Is there a reason or server config that would be disabling the redirect?

[2019-11-25 19:10] khalwat commented on #20
This is going to be some kind of server config issue if it is working in local dev, but not on production.

What specifically it is, I don't have enough information to assist you with.

Can you note your production environment, and the differences between your production environment and your local dev environment?

[2019-11-26 02:25] khalwat commented on #12
Is this controller being run via a console command @bossanova808 ?

[2019-11-26 02:30] #12 closed, assigned to nobody

[2019-11-26 02:43] khalwat commented on #11
Addressed in https://github.com/nystudio107/craft-instantanalytics/commit/bcf66bdf6972661bd50a86e38a4eb2ca1e755f19

[2019-11-26 02:43] #11 closed, assigned to nobody

[2019-11-26 02:44] khalwat commented on #18
Probably people will want this for GDPR reasons, too.

[2019-11-28 01:45] bossanova808 opened #21 "Fix commerce deprecations"
The good people of Commerce have changed some of their functions back to the previously deprecated names, so I am seeing these:

[code]

[2019-12-17 17:31] knynkwl commented on #20
We are hosted on Acrustech, and I'm just using MAMP as my local ENV.

[2019-12-23 23:22] timkelty commented on #18
Yep, running into the same type of issue with Varnish caching.

[2020-01-03 11:54] kaspar-allenbach opened #23 "What is the brand & Product Category fields"
I'm testing your analytics plugin a little.

I don't understand those two fields:

![Bildschirmfoto 2020-01-03 um 12 49 17](https://user-images.githubusercontent.com/762213/71722065-d88ddf00-2e27-11ea-81fa-00713f09c485.png)

I especially don't understand them because the choice of available fields seems strange.

![Bildschirmfoto 2020-01-03 um 12 52 45](https://user-images.githubusercontent.com/76

[2020-01-03 16:56] timkelty commented on #18
@dhahn in the meantime, a quick and dirty fix would be to throw this in some module code:

[code]

[2020-01-05 09:57] kaspar-allenbach opened #24 "Cache Warmer counts in instantanalytics"
I use Instant analytics alongside static [Blitz cache](https://putyourlightson.com/plugins/blitz).

Instantanalytics takes the requests of the cache warmer into it. See [this issue](https://github.com/putyourlightson/craft-blitz/issues/156)

Is there a possibility somehow to prevent this?

[2020-01-05 19:36] kaspar-allenbach opened #25 "[FR] Disable Live-Preview tracking"
I think live preview is also tracked. Is it possible to disable this?

[2020-01-15 00:27] khalwat commented on #18
Added in https://github.com/nystudio107/craft-instantanalytics/commit/6816c3e19a15a398e44171cff0d90b8a16c4ce53

[2020-01-15 00:29] khalwat commented on #25
Good idea

[2020-01-15 00:30] khalwat commented on #24
I don't think you can use these two together... if there is no server-side execution due to Blitz's static caching, then there is no analytics tracking from Instant Analytics.

If you use Blitz, you're going to need to do your analytics tracking on the frontend via JavaScript.

[2020-01-15 00:30] #24 closed, assigned to nobody

[2020-01-15 00:30] khalwat commented on #21
Oh man. I wonder if I should wait for 3.0? :)

[2020-01-15 00:32] khalwat commented on #23
Brand and Category are used in separate places in the Google Analytics data that is send along.

The brand is the brand name, e.g. "Adidas" and the Category is a category for the thing, e.g. "Shoes"

[2020-01-15 00:32] #23 closed, assigned to nobody

[2020-01-15 03:11] bossanova808 commented on #21
Ergh.  I've not looked yet, I'm too afraid.

I'm stuck in our ERP project for a while yet so can't play with 3.0 right now really...

[2020-01-15 11:46] khalwat commented on #25
It's such a good idea that it looks like I'm doing it already! :)

[code]

https://github.com/nystudio107/craft-instantanalytics/blob/v1/src/services/IA.php#L272

[2020-01-15 11:46] #25 closed, assigned to khalwat

[2020-01-15 12:07] kaspar-allenbach commented on #24
I think it is possible to run them together. See:
https://github.com/putyourlightson/craft-blitz/issues/156

[2020-01-15 14:12] khalwat commented on #24
It'll work _once_ when the cache is warmed, but zero analytics will be sent for subsequent cached hits to the pages (which should be the vast majority).

If you're using static caching, you should be using frontend JavaScript for analytics tracking.

[2020-01-15 14:27] kaspar-allenbach commented on #24
Darn it you're right.

The commerce funnel setup by your plugin looked so nice 😢

[2020-01-15 14:35] timkelty opened #26 "Events are excluded in containerized env (docker, kube)"

[2020-01-15 14:39] timkelty commented on #26
Answering my own question here for posterity:

The default `serverExcludes` setting tests against local IPs on `$_SERVER['REMOTE_ADDR']`…however, in a containerized and/or proxied environment, that will be a local IP regardless.

So, you should be able to set `'serverExcludes' => []` to bypass.

Just something to watch out for…maybe worth a note in the docs?

[2020-01-15 14:39] #26 closed, assigned to nobody

[2020-02-03 21:16] timkelty commented on #18
Ummmmm…isn't your condition reversed (should lose the first `!`)?

https://github.com/nystudio107/craft-instantanalytics/blob/2c601e19632a7c2e66f17317e4fc109a11fe5325/src/services/IA.php#L492

[2020-02-03 21:33] khalwat commented on #18
oops.

[2020-02-05 15:59] khalwat commented on #18
Fixed in: https://github.com/nystudio107/craft-instantanalytics/commit/07753acb2ae828e03c13036876ebd6816e1859c5

Released as 1.1.5

[2020-02-05 15:59] #18 closed, assigned to nobody

[2020-02-14 11:25] 3dgroup opened #27 "Uknown Property Product::Product on adding to cart"
Get the following error when adding one of my product types to cart (other product types work):

GETTING UNKNOWN PROPERTY: CRAFT\COMMERCE\ELEMENTS\PRODUCT::PRODUCT

originating from :

in /app/vendor/nystudio107/craft-instantanalytics/src/services/Commerce.php at line 475– craft\base\Element::__get('product')

Seems if a specific product doesn't have the specific Commerce Product Category Field it

[2020-03-13 20:57] nerdymind-dev commented on #27
Getting this exact same issue. Not sure what the cause is.

[2020-03-13 21:06] nerdymind-dev commented on #7
Did anyone come up with a solution for this? We have a product with multiple categories and are experiencing the same error.

Here's the stack trace:

[code]

[2020-03-13 23:07] khalwat commented on #7
Fixed in https://github.com/nystudio107/craft-instantanalytics/commit/04a0e16205c52073ea427749326bd91dc765d911

Set your semVer to: `dev-develop` to give it a whirl!

[2020-03-13 23:11] bossanova808 commented on #7
So.... is that a no on the twig mini template idea?

[2020-03-13 23:12] khalwat commented on #7
It's not a no. I think parsing it as a string template makes sense; this is just a quick fix

[2020-03-16 14:45] nerdymind-dev commented on #7
That did it! Thank you 👍

[2020-04-06 20:07] khalwat commented on #21
Fixed in https://github.com/nystudio107/craft-instantanalytics/commit/cca5aed2c79272bce28b59e48bc5e270bc0a7f90

[2020-04-06 20:07] khalwat commented on #27
Fixed in https://github.com/nystudio107/craft-instantanalytics/commit/04a0e16205c52073ea427749326bd91dc765d911

[2020-04-06 20:07] #27 closed, assigned to nobody

[2020-04-06 20:08] #21 closed, assigned to nobody

[2020-04-20 17:43] knynkwl commented on #20
Hey coming back to this. On our staging site, I am getting:

[code]

Is there something I am doing wrong?

I am adding
[code]

[2020-05-18 15:00] Mellis84 opened #30 "Product List Name (not set) receiving all the Adds to Cart data"
Hi Guys,

On my product listing page I have:

`{% do instantAnalytics.addCommerceProductImpression(product, loop.index, entry.title) %}` In my products loop.

In Analytics, the list names are coming through with Product List Views except for Product Adds To Cart and Product Checkouts data, which all seem to be coming through on a (not set) Product List Name.

Not sure exactly what could be going o

[2020-07-05 13:39] arifje opened #32 "UTM parameters not registered"
I wanted to track where our sales were coming from by using UTM parameters, but apparently the campaign parameters are not passed to Google Analytics when an order has completed.

I created an URL with the following parameters: ?utm_source=website&utm_medium=blog&utm_campaign=shirts

Then I created a test order with successful payment.

Result in Analytics (via Conversions/Ecommerce/Sales performa

[2020-07-07 17:48] khalwat commented on #32
The code is there to handle them: https://github.com/nystudio107/craft-instantanalytics/blob/v1/src/services/IA.php#L449

Can you verify whether it ever reached that portion of the code for you?

[2020-07-08 12:15] arifje commented on #32
Yes, it's reaching this part, also setting the parameters correctly:

![Screenshot 2020-07-08 at 10 39 14](https://user-images.githubusercontent.com/1286410/86917500-6f17c180-c125-11ea-84ac-02909a54fdf2.jpg)

But for some reason no campaign data or revenue is popping up in GA.

[2020-07-24 15:37] khalwat commented on #20
Sorry @knynkwl I lost track of this one, I will have a look at this; someone else mentioned they were having this issue as well.

[2020-07-24 15:49] uaextension commented on #20
It was me! We've been experiencing a blank screen issue with both eventTrackingUrl() and pageViewTrackingUrl()
Example of a generated URL: https://ext.ualberta.ca/instantanalytics/eventTrack/view?url=https%3A//drive.google.com/file/d/0B1qTKpPMGo0eZFhVdThJUUhuODQ/view%3Fusp%3Dsharing&eventCategory=link&eventAction=click&eventLabel=test&eventValue=0

- general.php / .env: 'production' mode; with the

[2020-07-28 11:09] antcooper opened #34 "Error adding a Donation to Cart"
### Describe the bug
I have setup the Donation under Commerce > Store Settings and [added the sample code](https://docs.craftcms.com/commerce/v3/donations.html#adding-the-donation-to-the-cart) to my Basket page. When I add an amount and submit, I run into errors with Instant Analytics.

It seems the Donation product is an oddity and missing certain parameters that a normal product has, such as Tit

[2020-08-02 00:36] mikefats opened #37 "Product List Clicks have null values in GA > Conversions > ecommerce reports"
Product **list views** are registering fine through Instant Analytics, as well as Product **detail views**, but not Product **list** **clicks**:

[Google Analytics screenshot](https://share.icloud.com/photos/0XdmNlA86M-6ZKR7yqYWJJmKg)

Am I missing some step in the IA configuration?

[2020-08-08 13:00] bencresty opened #39 "setDocumentTitle not working: always overriden by template name/path"
### Describe the bug

To my surprise the plugin sends the template name/path with a pageView and it doesn't seem to be possible to override this title page/document title for the pageView event. I tried `setDocumentTitle()` as seen in the documentation and done it exactly like the examples show for use in Twig, but it doesn't work.

I would expect this to work as that's what the documentation says

[2020-08-19 13:53] over81 opened #40 "Users/sessions inflated"
Hi, we have an issue with Google Analytics session integrity. I ran a parallel test property for GA through Google Tag Manager for a week and Instant Analytics reported more than twice as many users/sessions, the amount of direct/none traffic was almost 40% (vs 5% in GTM) and bounce rate was a lot higher through IA. Is there something that would address this in settings etc?

Also, is it possible

[2020-08-20 02:26] Mosnar opened #41 "Remove from cart events are never triggered"
I'm not sure exactly what's going on here, but this `defined` check never evaluates truthfully. I've never seen this syntax for checking if a static property exists, so I'm thinking it's an error?

https://github.com/nystudio107/craft-instantanalytics/blob/ae947132219a78f945ffebd94113b8d9e5fec032/src/InstantAnalytics.php#L294-L300

Removing the check allows the events to trigger as expected.

Craf

[2020-08-23 14:52] bencresty opened #42 "In contrary to what manuals says: Backend and Frontend analytics cannot be used together: they create 2 user sessions"
### Describe the bug
According to the manual of the plugin the plugin we should be able to use the backend analytics via the plugin parallel with the gtag frontend lib for sending google analytics. But to my dissapointment this doesn't seem to work as we might expect. See steps to reproduce

### To reproduce
Steps to reproduce the behaviour:
1. Include the following in the main template:
[code]
(2

[2020-08-23 15:02] bencresty commented on #40
Looks like we're facing the same issue. Opened an issue a few minutes ago: https://github.com/nystudio107/craft-instantanalytics/issues/42

Would be appreciated if the author, asking a pretty amount of money for this plugin that's based on a free open source lib, would actually respond on the issues we mention here and fix them. So we can actually start using the plugin in a project. Took us and s

[2020-08-23 17:37] over81 commented on #40
We'll move to GTM-based GA implementation if we get our IT people to generate the dataLayer with enhanced ecommerce data. Should be pretty straightforward with SeoMatic plugin. In its current state, the data is completely useless and the implementation undebuggable for marketers. I get the idea behind using measurement protocol, but should've been debugged by an experienced ga user.

[2020-08-24 11:20] philipboomy opened #43 "Source/Medium for Commerce Conversions are always showing up as the its own domain"
### Describe the bug
All commerce conversions are attributed to the site itself and not any external sites. This screenshot https://share.getcloudapp.com/yAubog16 shows all revenue to line 1 which is the domain/site itself. When checking normal analytics source/medium is showing other sites.

Google Ads are not tracking conversions which is probably due to the above. If its always the site itself

[2020-09-02 09:45] williamhibberd commented on #3
Hi Andrew, do you have any updates for commerce 3?
@khalwat

[2020-09-02 12:56] khalwat commented on #3
@williamhibberd I'm not aware of any issues with it, but if you have any, feel free to open a new issue here on GitHub

[2020-09-02 12:58] williamhibberd commented on #3
Ok, great... I was put using it by the line on the roadmap. Great if it is working on commerce 3!
Thanks

[2020-09-02 13:01] khalwat commented on #40
@over81 the problem is that the `_ga` cookie is proprietary, which is why I didn't attempt to recreate it, and name it `_ga` instead of `_ia`

@bencresty you're right, I'll either figure out a way to fix this issue, or I'll make the plugin free and deprecate it.

[2020-09-02 13:14] khalwat commented on #42
@bencresty While the format of the `_ga` cookie is undocumented, and Google can and will change it, we to try to parse it:

[code]

The issue is that if no `_ga` cookie is set, IA will create its own unique identifier for the `clientId`. It also will optionally create an `_ia` cookie to store that value.

In situations where there is no `_ga` cookie set yet (potentially because JavaScript hasn't b

[2020-09-02 13:16] khalwat commented on #40
This issue is really the same as: https://github.com/nystudio107/craft-instantanalytics/issues/42

Let's continue the discussion over there.

[2020-09-02 13:16] #40 closed, assigned to nobody

[2020-09-02 13:18] khalwat commented on #32
@skoften I believe you ended up with a solution here?

[2020-09-02 13:29] khalwat commented on #42
Google's official documentation states to get the cookie using their official JS libriaries: https://developers.google.com/analytics/devguides/collection/analyticsjs/cookies-user-id#getting_the_client_id_from_the_cookie

I'm not seeing a great way to do this automatically, as IA can't know whether you will or will not be using GA on the frontend.

My only thought is that there could be a setting i

[2020-09-02 14:09] khalwat commented on #42
Addressed in: https://github.com/nystudio107/craft-instantanalytics/commit/5370b41f56f53ef588de0d9df6c44c879eff65b6

Released as: https://github.com/nystudio107/craft-instantanalytics/releases/tag/1.1.8

lmk how you go @bencresty

[2020-09-02 14:09] #42 closed, assigned to nobody

[2020-09-02 14:09] khalwat commented on #40
Addressed in: https://github.com/nystudio107/craft-instantanalytics/commit/5370b41f56f53ef588de0d9df6c44c879eff65b6

Released as: https://github.com/nystudio107/craft-instantanalytics/releases/tag/1.1.8

lmk how you go @bencresty @over81

[2020-09-02 14:10] khalwat commented on #34
@antcooper Can you get me the error logs produced by IA for this?

[2020-09-02 14:14] khalwat commented on #37
@mikefats You need to add a call to `{% do instantAnalytics.addCommerceProductDetailView(PRODUCT_VARIANT) %}` on the page where you're showing a detail view of a product. IA can't automatically know when a product is being displayed unfortunately.

See: https://nystudio107.com/docs/instant-analytics/Using.html#craft-commerce-tracking-with-google-enhanced-ecommerce

[2020-09-02 14:14] #37 closed, assigned to nobody

[2020-09-02 14:28] over81 commented on #40
Thanks for addressing this, @khalwat. The main problem was sessions breaking and no way for us marketers to see why or when, since measurement protocol stuff happens behind the curtain :).

I did see that at least in some cases _ia would store and keep the client id, until an event tag was fired from Google Tag Manager. That event was probably expecting a _ga cookie, did not find one, created its

[2020-09-02 14:49] khalwat commented on #39
I realize it may look like a typo in the documentation, but the lowercase `v` is actually correct on the internal Analytics object that is being called to send the data. I did test it, and it does send analytics data if done like this:

[code]

When done via the hook method, you can still override the document title and document path:

[code]

Results in this:

[code]

Which is the expected result

[2020-09-02 14:50] khalwat commented on #39
However, what _will_ cause it to overwrite the `documentTitle` is if you have SEOmatic installed _and_ you use the automatic or `hook` method (`documentPath` will not be overwritten in this case).

So you can either send the page view directly yourself with:

[code]

Or if you like, I can add an option to _not_ set the `documentTitle` automatically if SEOmatic is installed. Let me know!

[2020-09-02 14:57] khalwat commented on #41
So this is actually a constant, not a static property. I'm checking if this exists as per:

https://stackoverflow.com/questions/24159178/check-if-a-class-constant-exists

But I'm thinking that perhaps it needs to be a fully qualified class name to work as expected.

I've changed it to:

[code]

Can you try it out and lmk if this solves it for you? Change your `semVer` to `dev-develop` -> https://g

[2020-09-02 14:57] #41 closed, assigned to nobody

[2020-09-02 15:01] khalwat commented on #30
Can you clarify what you mean here @Mellis84 ? I'm not really understanding the issue you're noting? Perhaps some screenshots would help?

[2020-09-02 15:02] khalwat commented on #43
Perhaps related to: https://github.com/nystudio107/craft-instantanalytics/issues/32

I think it's possible this could be related to an issue fixed in 1.1.18 -- can you try updating to it?

[2020-09-02 15:02] khalwat commented on #32
I think it's possible this could be related to an issue fixed in 1.1.18 -- can you try updating to it?

[2020-09-02 15:05] khalwat commented on #34
Fixed via PR, thanks!

[2020-09-02 15:05] #34 closed, assigned to nobody

[2020-09-02 15:36] khalwat commented on #32
Addressed in https://github.com/nystudio107/craft-instantanalytics/commit/87bd6a8a077bcc498f4b1959e37621b8c96a4c6e

Can you set your `semver` to `dev-develop` and give it a whirl?

[2020-09-02 15:37] khalwat commented on #43
Addressed in https://github.com/nystudio107/craft-instantanalytics/commit/87bd6a8a077bcc498f4b1959e37621b8c96a4c6e

Can you set your `semver` to `dev-develop` and give it a whirl?

[2020-09-02 16:08] khalwat commented on #40
@over81 Yeah for sure GTM is the right answer in many cases, especially if a digital marketing agency is involved.

The only downside is that it can't directly respond to some of the Commerce events, so you will likely need work-arounds to have interstitial pages to allow the correct events to fire.

[2020-09-02 17:19] uaextension commented on #37
Odd. Just like I had the code to report the list views (working correctly)
`{% do instantAnalytics.addCommerceProductImpression(product, loop.index, 'Catalogue search') %}`

My product detail page template has the following code:
`{% do instantAnalytics.addCommerceProductDetailView(product) %}`

so in-line with your suggestion, yet GA's "product list clicks" column in the "Product List Performance

[2020-09-03 03:37] khalwat commented on #43
Fix released in 1.1.19 -> https://github.com/nystudio107/craft-instantanalytics/releases/tag/1.1.9

[2020-09-03 03:37] #43 closed, assigned to nobody

[2020-09-03 03:38] khalwat commented on #32
Fix released in 1.1.19 -> https://github.com/nystudio107/craft-instantanalytics/releases/tag/1.1.9

[2020-09-03 03:38] #32 closed, assigned to nobody

[2020-09-03 07:02] arifje commented on #32
thanks, updated the plugin, will let you know the result!

[2020-09-03 08:43] philipboomy commented on #43
I am still not getting correct source/medium. It's all referred to the domain itself which is odd in itself as how do a website refer to itself?

[2020-09-08 10:38] karensg commented on #14
Agree, text or ENV variable would be cool.

[2020-09-09 17:35] karensg commented on #42
I am not sure whether setting this as a new default is a good idea. The most payment providers use webhooks to process payments and there is no `_ga` cookie, which results in E-commerce PaymentComplete event not working.

Took me some time to realize that. At least not a good idea to have that change in a minor update, I think.

If there is a way to somehow get the clientId in the OrderComplete ho

[2020-09-10 18:40] khalwat commented on #42
Thanks @karensg sorry about that, you're right, probably it should have been a more major version bump

[2020-10-12 09:13] antcooper opened #44 "Drop in Sessions since installing 1.1.9"
We have seen a large drop in GA sessions recently, which coincides with the update to version 1.1.9 from 1.1.7.

I notice that version 1.1.8 contained the fix _Instant Analytics will no longer attempt to create its own clientId..._ and wonder if this could be the cause and if anyone else has reported a change? We have been using IA since the site launch in Jan 2018 and did notice a large increase

[2020-10-12 10:03] 3dgroup commented on #44
I am currently looking into the same issue!

Big drop in data being passed to google analytics! Zero commerce data going through as well. We did change our server on the same day we noticed a drop in traffic, I did think it was that but now I see another person with the same issue I believe it could be the update we deployed on the same day!

We are definitely getting traffic as google analytics i

[2020-10-28 23:02] vignesh511989 opened #45 "Product list clicks - Google analytics"
### Question
Hi,

On my product listing page I have:

{% do instantAnalytics.addCommerceProductImpression(product, index+1, entry.pageTitle ?? entry.title) %} In my products loop.

In Analytics, the list names are coming through with Product List Views except for Product List Clicks, Product Adds To Cart and Product Checkouts data.

Not sure exactly what could be going on here?

### Additional con

[2021-02-16 04:09] khalwat commented on #44
It's likely that the drop in session data is that it wasn't properly tracked originally, however if you're *not* using frontend JavaScript tracking, you can set `requireGaCookieClientId` to `false` in the `config.php` which will cause it to revert to the behavior of creating its own `clientId`

@3dgroup you're saying absolutely zero Commerce data is flowing through? This doesn't sound right...

[2021-02-16 04:14] khalwat commented on #45
I'm a little confused by the question -- `instantAnalytics.addCommerceProductImpression()` should just register analytics for product list views.

[2021-02-16 04:14] #39 closed, assigned to nobody

[2021-02-16 04:15] #30 closed, assigned to nobody

[2021-02-16 10:24] pepsDev opened #48 "[FR] Trigger measurement protocol event via javascript"
Hi,

I would like to track events like clicks on email addresses or phone numbers.
For this I would hate to have the whole GA javascript library loaded.
Instead I would like to simply trigger a controller via javascript, which then transmits the event via measurement protocol. This way you don't have to load the whole library directly.

Would it be possible to trigger a measurement protocol event

[2021-03-29 12:36] jripmeester opened #49 "Instant analytics not sending purchase data"
### Question
We've updated a client webshop to commerce 3 and did a full refactor of the front-end.
After updating the website and launching the website all instant analytics data is send nicely except for the purchase event. The store had multiple orders last weekend but none we're received in analytics but add to cart events are registered.

What's the best wat to check what events are being sen

[2021-03-29 13:22] khalwat commented on #49
It should be logging any time events are sent -- are you not seeing anything?

Did you implement any kind of caching on the frontend that could affect things?

[2021-03-29 13:49] jripmeester commented on #49
Are the events also logged in production? Because in that case i don't see them in web.log.
We had a service-worker in place but we removed that as it did lead to some weird situations.

No other caching in place right now.

[2021-03-29 17:22] jripmeester commented on #49
@khalwat After some strategic dumping of vars in our staging env i found out that the order event is triggered but the event is not received in Analytics. So or it's blocked in analytics somehow or the
$analytics->setProductActionToPurchase();
$analytics->sendEvent();
on line 58 of services/commerce.php are not doing their job.

But this seems on GA side. Any idea how to further debug this?

[2021-03-30 08:32] jripmeester commented on #49
@khalwat Sorry to keep buggin you with this. But is there a way to trigger the order send event from twig. To test if a manual trigger does work or maybe give an error.

[2021-03-30 13:27] khalwat commented on #49
What version of GA are you running?

[2021-03-30 13:31] jripmeester commented on #49
Not the new GA4 one.
GA Property has been created in 2017 so it’s a legacy one.

There is one thing that's different on this new version of the site and the old one. It's that we use a few custom snapshot properties on the line items. Might that cause the trouble? As this is the event where the order is send with and the order is the only place where these custom properties on the product snapshot

[2021-04-02 09:20] jripmeester commented on #49
@khalwat Some more debugging led me too trying trigger the orderComplete function from a custom module variable. When i use that path all is working fine. So it seems that the webhook way used by the payment service is the killer here.

Does that classify as a bug?

[2021-04-17 08:34] jripmeester commented on #49
@khalwat Last week we went a bit deeper with pin pointing this error and we found something out.

The orders of logged in users is getting sent to GA, orders of guests are not.
This webshop is behind cloudflare. Bypassing Cloudflare made al orders come through.

Difference between the 2 situations is that:
1. a guest with Cloudflare gets a _ga clientId in the format: 1197138454.1617354777

2. An l

[2021-04-17 18:52] khalwat commented on #49
mmmm so it sounds like it's something specific to CloudFlare in terms of how this is not working for you.

It looks like your change is just dropping any parsing of the `_ga` cookie, which causes it to fall back on using the `_ia` cookie... but that means we're not retaining any unique id from Google, which probably has some unfortunate implications in terms of tracking.

I guess I'm unclear why i

[2021-05-13 20:30] ragnarfrosti opened #51 "Cookies consent - Is it possible to turn off Instant Analytics until the user has accepted to be tracked?"
This is more of a question rather than an issue.

We are implementing Cookies consent in many of our clients projects and I'm wondering if Instant Analytics has any built in support for this or if it is possible to hook in to prevent data being sent to Google until the User has accepted being tracked?

If it's not possible at the moment then maybe you could build in an event before send any data t

[2021-06-28 21:10] JacquesFernandes opened #57 "Purchases missing from GA."
### Describe the bug
Instant Analytics doesn't send purchase data at times. I *might* have a hunch as to why it's happening, see below (after the divider).

**Note:** I *have* gone through this other [issue](https://github.com/nystudio107/craft-instantanalytics/issues/49) that seems similar, but doesn't seem to apply.

### To reproduce
**(Notable) Plugin Settings:**
- Auto Send PageViews => enable

[2021-08-03 14:20] #44 closed, assigned to nobody

[2021-08-04 00:08] heymynameisdina opened #58 "Parent Category disappeared from GA, attributing all events now to "not set" category"
### Question
I've read through documentation, as well as other user issues and PRs and am not able to find the answer if you could please help. As of June 15, our previously properly working IA events started attributing all events to the category "not set".

Previous events (with **accurate** data):
<img width="422" alt="Screen Shot 2021-08-03 at 7 05 25 PM" src="https://user-images.githubusercon

[2021-08-04 13:51] khalwat commented on #58
I'm guessing the upgrade from Craft 2 to Craft 3 is very relevant, as it'd result in a large number of changes to the website.

So the initial screenshot is data coming from a Craft 2 site running a Craft 2 version of IA, and the second screenshot is from Craft 3 site running the Craft 3 version of IA?

[2021-08-04 16:13] heymynameisdina commented on #58
Thanks for the quick response, Andrew. Apologies here, I had our versions wrong. On June 23rd, we updated the following:

Our GA events transitioned to that second screenshot on June 16, however.

The only other thing I'm seeing remotely related to IA on our end -> We had made some recent adjustments to how we generate those category breadcrumbs (`Audio/Headphones & Earbud Cases`), but I've valida

[2021-08-13 15:23] heymynameisdina commented on #58
hey @khalwat can you confirm that the Top Level Category and Pipe prefix are automatically applied by Instant Analytics? That seems to be the missing piece here...

[2021-08-13 15:45] khalwat commented on #58
I'm not sure how this could change, but Instant Analytics does have a Product Category that you can set either in the `config.php` or in the plugin settings, which is where you choose the field in the Commerce Product that you use for the category.

Can you check on that?

[2021-08-30 21:13] hahnzilla commented on #58
One related issue (can open post this elsewhere if you prefer) here is that it looks like if you select a single category in a hierarchical structure it formats it with a pipe and slash. For example:

![Screen Shot 2021-08-30 at 3 28 02 PM](https://user-images.githubusercontent.com/2165506/131401052-0a96b25a-b168-4589-9910-d116cbb91f91.png)

is formatted as `Audio|Audio/Headphones`.

Only reason I

[2021-08-31 14:27] hahnzilla commented on #58
alright hey I believe I figured out the issue with instant analytics not setting the category. In our codebase, we're eagerloading the category on a purchasable's products in an event listener for later on in the lifecycle. It looks like instant analytics is specifically looking for a `CategoryQuery` in `pullDataFromField`.

You can replicate the issue by adding this event listener and then trying

[2021-09-14 16:38] peteeveleigh opened #60 "addCommerceCheckoutStep doesn't appear to be working"
Hi,
Firstly, sorry if this is a little vague. I'm working a bit blind. Another agency is handling analytics integration into one of our sites and I can't see what they have set up. However, they are highly experienced and I'm not doubting their end of things.

We are trying to add checkout steps via Instant Analytics. We've successfully added page view, product views, list views etc and these are

[2021-09-14 17:03] khalwat commented on #60
hmmmm I wouldn't think it should happen _after_ that -- how is the analytics information being sent along? Are you doing it automatically?

[2021-09-15 11:21] peteeveleigh commented on #60
We have IA's auto pageview send turned off and are using the `{% hook 'iaSendPageView' %}` on the main layout template. I guess I can try it with the auto send turned on but we disabled it as we were finding that error templates were showing up in the stats which was undesirable. So the error templates now set a variable that prevents the IA Hook from being rendered. I was thinking that maybe this

[2021-09-29 11:17] peteeveleigh commented on #60
Is there something I can do here? I just can't seem to get the checkout step data passed through to Google

[2021-10-12 13:04] khalwat commented on #60
Here's what I think is happening.

I think that Twig is parsing this hook:

[code]

*before* it is parsing your code that adds the step:

[code]

Check out the article "Twig Processing Order & Scope" for details on the order in which these things happen: https://nystudio107.com/blog/twig-processing-order-and-scope

...but the TL;DR is that the code in the layout template will be executed first, IF

[2021-10-12 13:21] #60 closed, assigned to nobody

[2021-10-15 08:34] philipboomy opened #63 "Server timeout"
### Describe the bug
This is a tricky one. I have had my server time out for 2 months and after working with Craft Support and Ploi support I finally went old school and deactivated add-ons to figure out why it was happening. After deactivating Instant Analytics my server stopped timing out. I can't give you much more than this except it was happening during day and night so not traffic related or

[2021-10-15 15:24] khalwat commented on #63
Knowing what IA does, and how it works, it'd be hard to understand how it could be culpable here, but you never know!

If you come up with something more definitive, definitely post it in this thread and I'll revisit it. It's good you made this issue, but there's not much I can do with it at the moment.  Hopefully, you understand.

[2021-10-15 15:24] #63 closed, assigned to nobody

[2021-12-14 11:43] russback commented on #14
I have a site that has a relation to an Entry, so would be interested to pull the title of the related Entry.

[2021-12-20 07:09] watarutmnh opened #64 "[Question] Compatible with GA4?"
Hi, is the plugin compatible with GA4?
Thanks,

[2021-12-20 13:09] khalwat commented on #64
It is not.

[2021-12-21 00:44] watarutmnh commented on #64
Okay thanks.

[2022-01-27 13:33] smockensturm opened #65 "Failed to instantiate component or class "nystudio107\pluginvite\services\VitePluginService"."
ReflectionException: Class nystudio107\pluginvite\services\VitePluginService does not exist in /app/vendor/yiisoft/yii2/di/Container.php:507
Stack trace:
#0 /app/vendor/yiisoft/yii2/di/Container.php(507): ReflectionClass->__construct('nystudio107\\plu...')
#1 /app/vendor/yiisoft/yii2/di/Container.php(385): yii\di\Container->getDependencies('nystudio107\\plu...')
#2 /app/vendor/yiisoft/yii2/di/Cont

[2022-01-27 14:06] smockensturm commented on #65
Had to install your Vite plugin explicitly to get this to work. (We don't have any of your other plugins installed fwiw.) Might want to check your Instant Analytics `composer.json` Thanks.

[2022-01-27 17:44] joshuabaker commented on #65
@khalwat This just randomly blew up one of our deployments, which we’re still trying to resolve. Might be worth jumping on this before others are impacted.

[2022-01-27 19:02] khalwat commented on #65
Addressed in: https://github.com/nystudio107/craft-instantanalytics/commit/3a3ce6e97a1ab610ae36fd304f9d4ef5a6441838

Released as 1.1.15 -> https://github.com/nystudio107/craft-instantanalytics/releases/tag/1.1.15

[2022-01-27 19:02] #65 closed, assigned to nobody

[2022-01-27 19:03] joshuabaker commented on #65
Speedy. Thanks, Andrew. 🙏🏻

[2022-01-27 19:08] khalwat commented on #65
Sorry about that. I missed it because an error wasn't thrown locally (because I have `craft-plugin-vite` installed from my other plugins). Apologies.

[2022-02-17 17:18] john-henry opened #66 "Event tracking links inside Redactor field"
Hi Andrew, this plugin is great. Can't believe I haven't used before to solve some problems. It all does what it says on the box but I have a question regards event tracking for say PDF downloads/eternal links to google docs

its all well and good doing asset/resource tracking for a predetermined part of the template or matrix block say for uploading of assets.

but our client uses Redactor field

[2022-02-27 04:54] khalwat commented on #57
@JacquesFernandes Do you have the complete error logs here I could have a look at?

[2022-03-07 21:25] khalwat commented on #66
Yeah I'm not sure how to do that, other than if you run the Redactor fields through some kind of search/replace filter that would apply the correct URL to it.

[2022-03-07 21:25] #66 closed, assigned to nobody

[2022-03-21 12:04] karensg commented on #64
Are there any plans to support it in the future?
Old GA will sunset on July 1, 2023.

[2022-03-21 18:43] khalwat commented on #64
The underlying library doesn't support GA4 AFAIK. https://github.com/theiconic/php-ga-measurement-protocol/issues/94

[2022-06-28 13:11] Floriswijgergangs commented on #64
Maybe this library is a solution to upgrade for GA4?
https://github.com/br33f/php-GA4-Measurement-Protocol

[2022-06-28 14:24] khalwat commented on #64
Oh nice @Floriswijgergangs !

[2022-09-19 08:49] Antimated opened #73 "setTitleFromSeomatic error on front-end after plugin install"
### Describe the bug
Getting the following error on the front-end after installing the plugin. Quick sidenote: I had the plugin disabled but when deploying the plugin to my staging env the same error was found in my log files (with a server error message being displayed on the front-end as e result)
![Screenshot 2022-09-19 at 10 28 23](https://user-images.githubusercontent.com/2869409/190981154-2d

[2022-09-19 15:04] smockensturm commented on #64
So the GA4 compatibility question is still open, yes? Can we plan on this?

[2022-09-19 20:37] khalwat commented on #64
It's an open question, but I've begun work on seeing how feasible it will be.

It's possible that API changes would be required, but I'm unsure currently.

[2022-09-19 20:43] khalwat commented on #73
So this is probably because the IA settings haven't been filled in... but it still should not barf like this. Will address.

[2022-09-19 20:48] khalwat commented on #73
Addressed in: https://github.com/nystudio107/craft-instantanalytics/commit/e4f44f1bbf3cee9a7f9ccf8cc05e6f7f9f91ade7

Craft CMS 4:

You can try it now by setting your semver in your `composer.json` to look like this:
[code]
Then do a `composer clear-cache && composer update`

[2022-09-19 20:48] #73 closed, assigned to nobody

[2022-09-21 18:34] khalwat commented on #57
Will re-open if additional information is provided.

[2022-09-21 18:34] #57 closed, assigned to nobody

[2022-09-21 18:39] khalwat commented on #58
Yep, it's this that causes it to exit early:

[code]

ref: https://github.com/nystudio107/craft-instantanalytics/blob/9e726336600622b504f4de3d3ce211554b84c897/src/services/Commerce.php#L473

Probably it should handle the case where it is an array, due to eager loading.

[2022-09-21 18:51] khalwat commented on #58
Addressed in: https://github.com/nystudio107/craft-instantanalytics/commit/b8b25c85225ded4c1c046c64fd2c7132f390c837 & https://github.com/nystudio107/craft-instantanalytics/commit/92a6fb29bd5db7cdc238191251746bc8bb7ceac8

Craft CMS 3:

You can try it now by setting your semver in your `composer.json` to look like this:
[code]
Then do a `composer clear-cache && composer update`

…..

Craft CMS 4:

Y

[2022-09-21 18:51] #58 closed, assigned to nobody

[2022-10-04 14:40] mtwalsh commented on #43
@khalwat Hi, I've been wrestling with this issue for a couple of week now... We're seeing the website's domain e.g. `domain.com` as the `Referrer` in Google Analytics for all E-commerce conversions, we're certain this is not correct. If it helps I've pasted the `instant-analytics.php` config array we're using on the project below. (We're using GTM on the front-end to track page views.)

[code]

[2022-10-04 15:06] mtwalsh opened #74 "PayPal transactions are tracking just fine but not SagePay"
### Describe the bug
In a website that uses both the [PayPal](https://github.com/craftcms/commerce-paypal-checkout/tree/1.3.3) and [SagePay](https://github.com/craftcms/commerce-sagepay/tree/3.0.0) payment gateways, we're noticing e-commerce transactions being recorded for PayPal but not SagePay. Is this an Instant Analytics issue or perhaps something I need to take up with the SagePay payment gat

[2022-10-05 01:22] mylesthedev opened #75 "What should get passed to addCommerceProductDetailView()"
### Question
We've been using the V3 of this plugin and upon upgrading to V4 we get a bunch of warnings because `productData['sku']` isn't defined.

What information can we pass this twig function so that it looks for a sku (they do exist on the products variants)?

### Additional context
Use to work fine on version 3 or at least no warning appeared.